@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@theme {
  /* colors */
  --color-surface: #131313;
  --color-primary: #ffb4aa;
  --color-primary-container: #e50914;
  --color-on-primary-container: #fff7f6;
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #e9bcb6;

  /* fonts */
  --font-display: "Sora", sans-serif;
  --font-body: "Hanken Grotesk", sans-serif;
}